{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>Create new entry</h1>
<form action="/create/" method="POST">
    {%csrf_token%}
    <label>Title: </label> <br/>
    <input type="text" name = 'title'/><br/>
    <label>Content: </label><br/>
    <textarea name = 'content' type="text" rows="10" cols="50" style = "height: auto;"></textarea >
    <br/>
    <input type="submit" value="create entry"/>
    <p>{{error_message}}</p>
</form>
{% endblock %}